.App {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    font-weight: 600;
    position: relative;

    &.curser{
        cursor: pointer;
    }

    .row {
        display: flex;
    }

    .squares {
        width: fit-content;
        margin: 50px auto 50px auto;
        border: 1px solid black;

        .unit-squares {
            width: fit-content;
            // border: 1px solid black;

            .square {
                width: 50px;
                height: 50px;
                background-color: rgb(255, 255, 255);
                border: 1px solid black;
            }

            .square.black {
                width: 50px;
                height: 50px;
                background-color: rgb(0, 0, 0);
                border: 1px solid black;
            }
        }
    }

    .buttons {
        width: fit-content;
        display: flex;
        margin: auto;
        .button {
            width: 300px;
        }
    }

    .button {
        user-select: none;
        background-color: rgb(68, 114, 196);
        width: 150px;
        text-align: center;
        padding: 10px 0px 10px 0px;
        border-radius: 10px;
        color: white;
        margin: 0px 10px 0px 10px;
        cursor: pointer;

        &:hover {
            background-color: rgb(27, 89, 195);
        }
        &.draw-mode {
            position: absolute;
            top: 10px;
            left: 10px;
            &.disabled{
                background-color: rgb(100, 119, 153);
                &:hover {
                    background-color: rgb(27, 89, 195);
                }
            }
        }
    }

    .current-frame {
        padding: 10px 0px 10px 0px;
    }

    .sliders {
        display: flex;
        padding: 30px 0px 30px 0px;
        width: fit-content;

        p {
            margin: auto;
        }

        .slider-box {
            // width: 400px;
            padding: 0px 30px 0px 30px;

            input {
                margin: 0px 10px 0px 10px;
                font-size: 30px;
                width: 80px;
                padding: 5px 10px 5px 10px;
                &.long {
                    min-width: 340px;
                }
            }

        }
    }

    .go-to-frame {
        display: flex;
        padding: 10px 0px 10px 0px;
        width: fit-content;
        margin: auto;

        p {
            margin: 0px;
        }

        input {
            margin: 0px 10px 0px 10px;
            font-size: 30px;
            width: 400px;
            padding: 0px 10px 0px 10px;
            // text-align: right;
        }
    }

    .slider {
        margin: auto;
        // width: 400px;
        height: 50px;
        // padding-top: 30px;
        display: flex;
        align-items: center;
        .button{
            align-items: center;
            user-select: none;
            padding-bottom: 20px;
            margin: 0px 5px 0px 5px;

            &.left{
                margin-right: 40px;
            }
            &.right{
                margin-left: 40px;
            }
        }
    }

    .reset-all {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 100px;

        .button {
            margin: auto;
            width: 500px;
            user-select: none;
        }
    }
}